/* header/navbar/ body */


* {
    box-sizing: border-box;
    text-align: center;
}

body {
    margin: 0;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    border: 2px solid red;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
    border: 2px solid red;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
    border: 2px solid red;
}

/* Middle column */
.column.middle {
    width: 50%;
    border: 2px solid red;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .column.side,
    .column.middle {
        width: 100%;
    }
}







/* 
login/register */

.login {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 80vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
    /* border: 2px solid red; */
}


.register,
.addBook,
.bookDetails{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 90vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
     /* border: 2px solid red; */

}

.title {
    font-size: 25px;
    margin-bottom: 20px;
}


.form{
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type="text"],
input[type="password"] {
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
}

button[type="submit"]:hover {
    background: #6cf0c2;
}

.button-container {
    display: flex;
    justify-content: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

/* *************cards***************** */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    width: 100%;
    height: 100%;
}

.card > img{
    width: 100%;
    height:50%;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}
/* 
 //// book card ////// */
.bookCard {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bookCard img {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.bookCard .container {
    margin-bottom: 8px;
}

.bookCard article {
    font-size: 14px;
}

.bookCard h3 {
    font-size: 18px;
    margin-top: 0;
}

.bookCard p {
    margin-bottom: 8px;
}

.bookCard h2 {
    font-size: 16px;
    margin-top: 0;
}

.bookCard button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
}

.bookCard button:hover {
    background-color: #45a049;
}

.bookCard button:focus {
    outline: none;
}

.books-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    margin: 16px;
}